html{
  font-family: Merriweather, Roboto;
}

body{
  background-color: #f2f1e8;
  margin: 0;

}
header{
  background-color: white;
  height: 60px;
  padding-top: none;
  background-image: url("../optimized/bent-creek-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.wrapper, .wrapper2 {
  width: 65%;
  margin: 0 auto;
  padding-bottom: 40px;
}

#main-navigation {
  display: flex;
  padding: 2% 1%;
  justify-content: center;
  padding-top: 20px;
  margin-right: 10px 30px;
}

nav a:link, nav a:visited, nav a:active {
  color: black;
  margin: 0 20px;
  font-size: 22px;
  text-transform: uppercase;

}

nav a:hover{
  color: #CD5D67;
}
.birdh{
  float: left;
  height: 50px;
  width: 120px;
  padding-right: 18px;
  padding-bottom: 10px;
}

blockquote{
  border-left: 10px;
}
.founder{
  border-left: 2px solid #968774;
}

.grow{
  background-image: url("../optimized/background-3.jpg");
  height: 150px;
  background-size: cover;
  padding-top: 10em;
}

.textgrow{
  color: white;
  font-size: 40px;
  text-align: center;
}

.member{
  float: right;
  height: 5px;
  width: 5px;
}

.rightpain{
  float: right;
  width: 12em;
  height: 8em;
}
.spanner{
  text-align: right;
  float: right;
  font-size: 10px;
  width: 12em;
}
table{
  border-collapse: collapse;
  width: 75%;
}
th, tr, td{
  font-weight: normal;
  border: 2px solid black;
  text-align: center;
}
tr:nth-child(even){
  background-color: #F2EADD
}

.feet{
  padding-left: 15px;
  padding-top: 20px;

}
footer{
  background-color: #2B2F27;
  height: 60px;
  color: white;
  margin: 0;
  padding: 0;
}

.section1{
  display: flex;
  flex-direction: row;
  margin: 0 1.5em;
  padding-bottom: 2em;
}
.pr1 {
  width: 900px;
  height: 450px;
  padding-right: 1.5em;
}
.pr1 span{
  background-color: black;
  color: #ECE1C2;
  text-align: left;
  position: relative;
  top: -50px;
  font-size: 30px;
}
.pr2 {
  width: 290px;
  height: 450px;
  padding-right: 1.5em;
}
.pr2 span{
  background-color: black;
  color: #ECE1C2;
  text-align: left;
  position: relative;
  top: -50px;
  font-size: 30px;
}

.pr3 {
  width: 290px;
  height: 450px;
}
.pr3 span{
  background-color: black;
  color: #ECE1C2;
  text-align: left;
  position: relative;
  top: -50px;
  font-size: 30px;
}

.section2{
  display: flex;
  flex-direction: row;
  min-width: 100vh;
  margin: 0 1em;

}

.pr4 span{
  background-color: black;
  color: #ECE1C2;
  text-align: left;
  position: absolute;
  font-size: 26px;
  margin-top: -50px;
}

.pr4{
  padding-right: 1.5em;
}

.pr5 span{
  background-color: black;
  color: #ECE1C2;
  text-align: left;
  position: absolute;
  font-size: 26px;
  margin-top: -50px;
}

.pr5{
  padding-right: 1.5em;
  }
}
.pr6 {
  padding-right: 20em;
}
.pr6 span{
  background-color: black;
  color: #ECE1C2;
  text-align: left;
  position: absolute;
  font-size: 26px;
  margin-top: -50px;
}

.pr7 {
  padding-left: 1.5em;
}
.pr7 span{
  background-color: black;
  color: #ECE1C2;
  text-align: left;
  position: absolute;
  margin-left: 30px;
  margin-top: -50px;
  font-size: 26px;
}
.bentcreek{
  text-align: center;
  letter-spacing: 2px;
  font-size: 48 px;
  font-weight: 200;
}

.whereart{
  text-align: center;
  font-weight: 200;
  font-size: 28px;
}
.geet {
  background-image: url("../optimized/background-2.jpg");
  background-repeat: no-repeat;
  text-align: center;
  height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsie{
  background-color: white;
  width: 50%;
  height: 45%;
  position: absolute;
}

.stayup, .signup {
  font-weight: 200;
  letter-spacing: 1.5px;
}

.former input{
  color: #968774;
  display: flex;
  flex-flow: column wrap;
  font-size: 22px;
  background: transparent;
  border: none;
  border-bottom: 1px solid;
  margin: 40px;
  width: 650px;
}
.former button{
  background-color: #968774;
  color: white;
  font-size: 18px;
  border-style: none;
  padding: 8px 20px;
}
